<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>缺货上报</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.picker.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/qhsb.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-left-nav mui-pull-left" id="backBtn"></a>
		<h1 class="mui-title">缺货上报</h1>
		<a class="mui-icon mui-pull-right" id="cacleBtn">取消</a>
	</header>
	<div id="main-body" class="mui-content">
		<form id="qhsb" data-id="1" data-page="1" data-loop-id="-1" data-code="qhsb" class="mui-input-group" method="get" action="qhsb-2.html">
			<div class="mui-row form-title">塔杆编码</div>
			<div class="mui-input-row form-select">
				<input type="text" format="options" readonly="readonly" required="true" data-options='[]' name="text_towerNo" value="" placeholder="请选择" />
                <input type="text" class="hide" name="towerNo" value="" />
				<span class="mui-icon mui-icon-forward"></span>
			</div>
			<div class="mui-row form-title">塔型</div>
			<div class="mui-input-row form-input bottom-line">
				<input type="text" name="towerType" required="true" value="" maxlength="32" readonly="readonly" placeholder="" />
			</div>
			<div class="mui-row form-title">生产厂家</div>
			<div class="mui-input-row form-input bottom-line">
				<input type="text" name="tower_company" required="true" value=""   readonly="readonly" placeholder="" />
			</div>
			<div class="mui-row form-title">级数</div>
			<div class="mui-input-row form-input bottom-line">
				<input type="text"  name="towerDno" required="true" value="" maxlength="32" placeholder="请输入" />
			</div>
			<div class="mui-row form-title">分部工程</div>
			<div class="mui-input-row form-select">
				<input type="text" format="options" readonly="readonly" required="true" data-options='[]' name="text_fbgc" value="" placeholder="请选择" />
                <input type="text" class="hide" name="fbgc" value="" />
				<span class="mui-icon mui-icon-forward"></span>
			</div>
			<div class="mui-button-row notfull">
				<button type="button" data-loading-text="下一步" class="mui-btn" id="btnStepNext">下一步</button>
			</div>
		</form>
	</div>
    <script type="text/javascript" src="../../plugins/zepto/zepto.min.js"></script>
    <script type="text/javascript" src="../../plugins/mui/js/mui.min.js"></script>
    <script src="../../plugins/mui/js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="../../common/js/common.js"></script>
    <script type="text/javascript" src="js/qhsb.js"></script>
</body>
</html>