<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>三交三查</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../common/css/common.css">
		<link rel="stylesheet" type="text/css" href="css/sjsc.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id = "backBtn"></a>
		    <a id="record" class="mui-icon mui-pull-right">记录</a>
		    <sapn class="mui-title">三交三查</sapn>
		</header>		
		<div class="mui-content">
			<form action="" method="get" format = "srData" >								
				<div class="T-today" name = "rq" value = ""></div>
				<ul class="mui-table-view sjsc-list">
						<li class="mui-table-view-cell ">
							<span class = "conTitle">1.查着装</span>
							<div class = "content">
								<div class="mui-input-row">
									<div class = "textarea" name = "czz" contenteditable="true" placeholder="请录入">有无衣衫不整，是否有穿拖鞋，短裤情况？是否佩戴工作证，是否戴手套，穿软底鞋等，安全帽是否正确佩戴</div>
								</div>
								
							</div>
						</li>
						<li class="mui-table-view-cell">
							<span class = "conTitle">2.查三宝</span>
							<div class = "content">
								<div class="mui-input-row">
									<div class = "textarea" name = "csb" contenteditable="true" placeholder="请录入">安全帽是否合格；安全带使用是否正确？是否经过检验，合格标识是否齐全是否在有效期？是否有磨损？挂钩是否完好？保险是否可靠？还有二防绳：是否经过检验，合格标识是否齐全？是否在有效期？是否有磨损？挂钩是否完好？保险是否可靠？</div>
								</div>
								
							</div>
						</li>
						<li class="mui-table-view-cell">
							<span class = "conTitle">3.查精神状态</span>
							<div class = "content">
								<div class="mui-input-row">
									<div class = "textarea" name = "cjszt" contenteditable="true" placeholder="请录入">所有班组人员要精神状态良好。</div>
								</div>
								<div class = "voiceControl">
									<img class = "voiceIcon" src= "img/voice1.png">
									<span class = "voiceTime"></span>
								</div>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<span class = "conTitle">4.交任</span>
							<div class = "content">
								<div class="mui-input-row">
									<div class = "textarea" name = "jr" contenteditable="true" placeholder="请录入"></div>
								</div>
								<div class = "voiceControl">
									<img class = "voiceIcon" src= "img/voice1.png">
									<span class = "voiceTime"></span>
								</div>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<span class = "conTitle">5.交技</span>
							<div class = "content">
								<div class="mui-input-row">
									<div class = "textarea" name = "jj" contenteditable="true" placeholder="请录入"></div>
								</div>	
								<div class = "voiceControl">
									<img class = "voiceIcon" src= "img/voice1.png">
									<span class = "voiceTime"></span>
								</div>						
							</div>
						</li>
						<li class="mui-table-view-cell">
							<span class = "conTitle">6.交安</span>
							<div class = "content">
								<div class="mui-input-row">
									<div class = "textarea" name = "ja" contenteditable="true" placeholder="请录入"></div>
								</div>
								<div class = "voiceControl">
									<img class = "voiceIcon" src= "img/voice1.png">
									<span class = "voiceTime"></span>
								</div>
							</div>
						</li>
				</ul>
				<div class = "white-space"></div>
				<button type="button" class="mui-btn mui-btn-block" id = "btnStepNext">下一步</button>
			</form>		
		</div>
		
		<script src="../../plugins/mui/js/mui.min.js"></script>
		<script type="text/javascript" src="../../plugins/zepto/zepto.min.js"></script>
		<script src="../../common/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/sjsc-pick.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				var textArea = $('textarea');
				function  cglHeight() {
					textArea.each(function(index,item){
						var cglTextHeight = item.scrollHeight;
						$(item).css('height',cglTextHeight+'px');
					})           
				};
				cglHeight();
				textArea.on('keyup mousedown mouseup focus blur',function(){
					cglHeight();
				});
			});				
			//语音输入模块
			// 监听plusready事件  
			//mui.plusReady(function() {				
				document.addEventListener("plusready", function(){
					$(".voiceIcon").on("tap",function(){
						var voiceT = $(this).next("span")[0];//获取时间显示节点
						if(!$(voiceT).hasClass("onListen") && time_start==null){
							this.src = "img/voice2.png";
							$(voiceT).addClass("onListen").html("00:00:00");
							time_start = time_fun(voiceT);//启动定时器
							startRecognize(voiceT);												
						}else{
							this.src = "img/voice1.png";
							$(voiceT).removeClass("onListen");
							clearInterval(time_start);
							time_start = null;
							stopRecognize();											
							$(this).parent().prev().children(".textarea").append(text);
						}								
					})
						startRecognize(obj)
				}, false );
				var text=null,time_start = null;						
				
				function time_fun(obj) {
					var sec=0;
					return setInterval(function () {
						sec++;
						var date = new Date(0, 0);
						date.setSeconds(sec);
						var h = date.getHours(), m = date.getMinutes(), s = date.getSeconds();
						$(obj).html(two_char(h) + ":" + two_char(m) + ":" + two_char(s))
					}, 1000);
				} 
				function two_char(n) {
					return n >= 10 ? n : "0" + n;        
				}  
				 function startRecognize(obj) {
					if(plus.os.name=='Android'&&navigator.userAgent.indexOf('StreamApp')>0){
						plus.nativeUI.toast('当前环境暂不支持语音识别插件');
						return;
					}
					if(plus.os.name=='Android') {
						var options = {};
						options.engine = 'iFly';
						options.punctuation = false;    // 是否需要标点符号 
						obj.textContent = "";
						console.log( "开始语音识别：" );
						plus.speech.startRecognize( options, function ( s ) {
							console.log( s );
							obj.textContent += s;
						}, function ( e ) {
							console.log( "语音识别失败："+e.message );
						} );
					}
				 }
				 function stopRecognize(){
					plus.speech.stopRecognize();
				 }
			//});
		</script>
	</body>
</html>