<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>承台/连梁签证</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.picker.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/form.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-left-nav mui-pull-left" id="backBtn">
			<span>上一步</span>
		</a>
		<h1 class="mui-title">基础施工</h1>
		<a class="mui-icon mui-pull-right" id="cacleBtn">取消</a>
	</header>
	<div id="main-body" class="mui-content">
		<form id="formTower" data-id="2" data-page="3" data-loop-id="-1" data-code="JCJL_YBCTLL" class="mui-input-group" method="get" action="">
            <div class="mui-row form-grid">
                <div class="mui-col-sm-4 mui-col-xs-4 form-sub-title">钢筋保护层<br />厚度mm</div>
                <div class="mui-col-sm-8 mui-col-xs-8">
                    <div class="mui-input-row">
                        <label>A</label>
                        <input type="uint" maxlength="10" required="true" name="gjbhchd_a" value="" />
                    </div>
                    <div class="mui-input-row">
                        <label>B</label>
                        <input type="uint" maxlength="10" required="true" name="gjbhchd_b" value="" />
                    </div>
                    <div class="mui-input-row">
                        <label>C</label>
                        <input type="uint" maxlength="10" required="true" name="gjbhchd_c" value="" />
                    </div>
                    <div class="mui-input-row">
                        <label>D</label>
                        <input type="uint" maxlength="10" required="true" name="gjbhchd_d" value="" />
                    </div>
                </div>
            </div>
			<div class="mui-row form-title">基础半根及半对角线尺寸</div>
			<div class="mui-row form-input">
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="mui-input-row mui-radio mui-left">
						<label>螺栓式</label>
						<input type="radio" name="gcbgk" value="1" />
					</div>
				</div>
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="mui-input-row mui-radio mui-left">
						<label>插入式</label>
						<input type="radio" name="gcbgk" value="2" />
					</div>
				</div>
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="mui-input-row mui-radio mui-left">
						<label>高塔</label>
						<input type="radio" name="gcbgk" value="3" />
					</div>
				</div>
			</div>
            <div class="mui-row form-grid top-line">
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                            <label>AB’</label>
							<input type="decimal" maxlength="16" required="true" name="jcbgk_ab" value="" />
						</div>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                            <label>BA’</label>
							<input type="decimal" maxlength="16" required="true" name="jcbgk_ba" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                            <label>BC’</label>
							<input type="decimal" maxlength="16" required="true" name="jcbgk_bc" value="" />
						</div>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                            <label>CB’</label>
							<input type="decimal" maxlength="16" required="true" name="jcbgk_cb" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                            <label>BD’</label>
							<input type="decimal" maxlength="16" required="true" name="jcbgk_bd" value="" />
						</div>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                            <label>DC’</label>
							<input type="decimal" maxlength="16" required="true" name="jcbgk_dc" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                            <label>DA’</label>
							<input type="decimal" maxlength="16" required="true" name="jcbgk_da" value="" />
						</div>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                            <label>AD’</label>
							<input type="decimal" maxlength="16" required="true" name="jcbgk_ad" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                            <label>AO’</label>
							<input type="decimal" maxlength="16" required="true" name="jcbgk_ao" value="" />
						</div>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                            <label>BO’</label>
							<input type="decimal" maxlength="16" required="true" name="jcbgk_bo" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                            <label>CO’</label>
							<input type="decimal" maxlength="16" required="true" name="jcbgk_co" value="" />
						</div>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                            <label>DO’</label>
							<input type="decimal" maxlength="16" required="true" name="jcbgk_do" value="" />
						</div>
					</div>
				</div>
            </div>
			<div class="mui-button-row">
				<button type="button" data-loading-text="发布" class="mui-btn" id="btnStepPublish">发布</button>
			</div>
		</form>
	</div>
    <script type="text/javascript" src="../../plugins/zepto/zepto.min.js"></script>
    <script type="text/javascript" src="../../plugins/mui/js/mui.min.js"></script>
	<script type="text/javascript" src="../../plugins/mui/js/mui.picker.min.js"></script>
    <script type="text/javascript" src="../../common/js/common.js"></script>
    <script type="text/javascript" src="js/form.js"></script>
</body>
</html>