<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>基础支模</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.picker.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/form.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-left-nav mui-pull-left" id="backBtn">
			<span>上一步</span>
		</a>
		<h1 class="mui-title">基础施工</h1>
		<a class="mui-icon mui-pull-right" id="cacleBtn">取消</a>
	</header>
	<div id="main-body" class="mui-content">
		<form id="formTower" data-id="5" data-page="2" data-loop-id="-1" data-code="JCJL_JQZM" class="mui-input-group" method="get" action="form-5-3.html">
            <div class="mui-row form-grid">
                <div class="mui-col-sm-4 mui-col-xs-4 form-sub-title">坑深尺寸mm</div>
                <div class="mui-col-sm-8 mui-col-xs-8">
                    <div class="mui-input-row">
                        <label>A</label>
                        <input type="decimal" maxlength="16" required="true" name="kscc_a" value="" />
                    </div>
                    <div class="mui-input-row">
                        <label>B</label>
                        <input type="decimal" maxlength="16" required="true" name="kscc_b" value="" />
                    </div>
                    <div class="mui-input-row">
                        <label>C</label>
                        <input type="decimal" maxlength="16" required="true" name="kscc_c" value="" />
                    </div>
                    <div class="mui-input-row">
                        <label>D</label>
                        <input type="decimal" maxlength="16" required="true" name="kscc_d" value="" />
                    </div>
                </div>
            </div>
			<div class="mui-row form-title">立柱断面尺寸mm</div>
            <div class="mui-row form-grid">
                <div class="mui-col-sm-4 mui-col-xs-4 form-sub-title">立柱</div>
                <div class="mui-col-sm-8 mui-col-xs-8">
                    <div class="mui-input-row">
                        <label>A</label>
                        <input type="decimal" maxlength="16" required="true" name="lzdmlzcc_a" value="" />
                    </div>
                    <div class="mui-input-row">
                        <label>B</label>
                        <input type="decimal" maxlength="16" required="true" name="lzdmlzcc_b" value="" />
                    </div>
                    <div class="mui-input-row">
                        <label>C</label>
                        <input type="decimal" maxlength="16" required="true" name="lzdmlzcc_c" value="" />
                    </div>
                    <div class="mui-input-row">
                        <label>D</label>
                        <input type="decimal" maxlength="16" required="true" name="lzdmlzcc_d" value="" />
                    </div>
                </div>
            </div>
            <div class="mui-row form-grid top-line">
				<div class="mui-row form-sub-title">
					<div class="mui-col-sm-12 mui-col-xs-12">底板</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>A</label>
							<input type="decimal" maxlength="16" required="true" name="lzdmdbcc_a" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>B</label>
							<input type="decimal" maxlength="16" required="true" name="lzdmdbcc_b" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>C</label>
							<input type="decimal" maxlength="16" required="true" name="lzdmdbcc_c" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>D</label>
							<input type="decimal" maxlength="16" required="true" name="lzdmdbcc_d" value="" />
						</div>
					</div>
				</div>
            </div>
			<div class="mui-row form-title">地脚螺栓或插入钢管、主筋规格、数量、长度mm</div>
            <div class="mui-row form-grid">
				<div class="mui-row form-sub-title">
					<div class="mui-col-sm-12 mui-col-xs-12">地脚螺栓、插入钢管（角钢）</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>A</label>
							<input type="text" maxlength="32" required="true" name="jggg_a" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>B</label>
							<input type="text" maxlength="32" required="true" name="jggg_b" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>C</label>
							<input type="text" maxlength="32" required="true" name="jggg_c" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>D</label>
							<input type="text" maxlength="32" required="true" name="jggg_d" value="" />
						</div>
					</div>
				</div>
            </div>
            <div class="mui-row form-grid">
				<div class="mui-row form-sub-title">
					<div class="mui-col-sm-12 mui-col-xs-12">主筋</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>A</label>
							<input type="text" maxlength="32" required="true" name="zjgg_a" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>B</label>
							<input type="text" maxlength="32" required="true" name="zjgg_b" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>C</label>
							<input type="text" maxlength="32" required="true" name="zjgg_c" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>D</label>
							<input type="text" maxlength="32" required="true" name="zjgg_d" value="" />
						</div>
					</div>
				</div>
            </div>
            <div class="mui-row form-grid">
				<div class="mui-row form-sub-title">
					<div class="mui-col-sm-12 mui-col-xs-12">内箍筋</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>A</label>
							<input type="text" maxlength="32" required="true" name="ngjgg_a" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>B</label>
							<input type="text" maxlength="32" required="true" name="ngjgg_b" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>C</label>
							<input type="text" maxlength="32" required="true" name="ngjgg_c" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>D</label>
							<input type="text" maxlength="32" required="true" name="ngjgg_d" value="" />
						</div>
					</div>
				</div>
            </div>
            <div class="mui-row form-grid">
				<div class="mui-row form-sub-title">
					<div class="mui-col-sm-12 mui-col-xs-12">外箍筋</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>A</label>
							<input type="text" maxlength="32" required="true" name="wgjgg_a" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>B</label>
							<input type="text" maxlength="32" required="true" name="wgjgg_b" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>C</label>
							<input type="text" maxlength="32" required="true" name="wgjgg_c" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>D</label>
							<input type="text" maxlength="32" required="true" name="wgjgg_d" value="" />
						</div>
					</div>
				</div>
            </div>
			<div class="mui-button-row">
				<button type="button" data-loading-text="下一步" class="mui-btn" id="btnStepNext">下一步</button>
			</div>
		</form>
	</div>
    <script type="text/javascript" src="../../plugins/zepto/zepto.min.js"></script>
    <script type="text/javascript" src="../../plugins/mui/js/mui.min.js"></script>
	<script type="text/javascript" src="../../plugins/mui/js/mui.picker.min.js"></script>
    <script type="text/javascript" src="../../common/js/common.js"></script>
    <script type="text/javascript" src="js/form.js"></script>
</body>
</html>