<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>灌注桩3-1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.picker.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/form.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-left-nav mui-pull-left" id="backBtn">
			<span>上一步</span>
		</a>
		<h1 class="mui-title">第六次拆管</h1>
		<a class="mui-icon mui-pull-right" id="cacleBtn">取消</a>
	</header>
	<div id="main-body" class="mui-content">
		<form id="formTower" data-id="6" data-page="4" data-loop-id="5" data-code="JCJL_XJ" class="mui-input-group" method="get" action="form-6-10.html">
			<div class="mui-row form-title">灌注日期</div>
			<div class="mui-row form-date">
                <div class="mui-col-sm-12 mui-col-xs-12">
                    <input type="text" format="date" readonly="readonly" required="true" name="gz_date" value="" />
                    <span class="mui-icon mui-icon-forward"></span>
                </div>
			</div>
			<div class="mui-row form-title">灌注时间</div>
			<div class="mui-row form-date">
                <div class="mui-col-sm-12 mui-col-xs-12">
                    <input type="text" format="time" readonly="readonly" required="true" name="gz_time" value="" />
                    <span class="mui-icon mui-icon-forward"></span>
                </div>
			</div>
			<div class="mui-row form-title">斗数</div>
			<div class="mui-input-row form-input">
				<input type="decimal" name="ds" required="true" value="" maxlength="16" placeholder="" />
			</div>
			<div class="mui-row form-title">折算量</div>
			<div class="mui-input-row form-input">
				<input type="text" name="zsl" required="true" value="" maxlength="32" placeholder="" />
			</div>
			<div class="mui-row form-title">孔内混凝土标高m</div>
			<div class="mui-input-row form-input">
				<input type="decimal" name="knhntbg" required="true" value="" maxlength="16" placeholder="" />
			</div>
			<div class="mui-row form-title">拆管长度m</div>
			<div class="mui-input-row form-input">
				<input type="decimal" name="cgcd" required="true" value="" maxlength="16" placeholder="" />
			</div>
			<div class="mui-row form-title">埋管深度m</div>
			<div class="mui-input-row form-input">
				<input type="decimal" name="mgsd" required="true" value="" maxlength="16" placeholder="" />
			</div>
			<div class="mui-button-row">
				<button type="button" data-loading-text="下一步" class="mui-btn" id="btnStepNext">下一步</button>
                <button type="button" data-loading-text="发布" class="mui-btn" id="btnStepPublish">发布</button>
			</div>
		</form>
	</div>
    <script type="text/javascript" src="../../plugins/zepto/zepto.min.js"></script>
    <script type="text/javascript" src="../../plugins/mui/js/mui.min.js"></script>
	<script type="text/javascript" src="../../plugins/mui/js/mui.picker.min.js"></script>
    <script type="text/javascript" src="../../common/js/common.js"></script>
    <script type="text/javascript" src="js/form.js"></script>
</body>
</html>