<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>承台/连梁签证</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.picker.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/form.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-left-nav mui-pull-left" id="backBtn"></a>
		<h1 class="mui-title">基础施工</h1>
		<a class="mui-icon mui-pull-right" id="cacleBtn">取消</a>
	</header>
	<div id="main-body" class="mui-content">
		<form id="formTower" data-id="2" data-page="2" data-loop-id="-1" data-code="JCJL_YBCTLL" class="mui-input-group" method="get" action="form-2-3.html">
			<div class="mui-row form-title">立柱、承台、连梁断面尺寸mm</div>
            <div class="mui-row form-grid">
                <div class="mui-col-sm-4 mui-col-xs-4 form-sub-title">立柱</div>
                <div class="mui-col-sm-8 mui-col-xs-8">
                    <div class="mui-input-row">
                        <label>A</label>
                        <input type="text" maxlength="32" required="true" name="lzdmcc_a" value="" />
                    </div>
                    <div class="mui-input-row">
                        <label>B</label>
                        <input type="text" maxlength="32" required="true" name="lzdmcc_b" value="" />
                    </div>
                    <div class="mui-input-row">
                        <label>C</label>
                        <input type="text" maxlength="32" required="true" name="lzdmcc_c" value="" />
                    </div>
                    <div class="mui-input-row">
                        <label>D</label>
                        <input type="text" maxlength="32" required="true" name="lzdmcc_d" value="" />
                    </div>
                </div>
            </div>
            <div class="mui-row form-grid top-line">
                    <div class="mui-row form-sub-title">
                        <div class="mui-col-sm-12 mui-col-xs-12">连梁</div>
                    </div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                			<label>A</label>
							<input type="decimal" maxlength="16" required="true" name="lldmcc_a1" value="" />
						</div>
					</div>
					<div class="mui-col-sm-1 mui-col-xs-1 form-operator">
					    <span>*</span>
				    </div>
					<div class="mui-col-sm-5 mui-col-xs-5">
						<div class="mui-input-row">
							<input type="decimal" maxlength="16" required="true" name="lldmcc_a2" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                			<label>B</label>
							<input type="decimal" maxlength="16" required="true" name="lldmcc_b1" value="" />
						</div>
					</div>
					<div class="mui-col-sm-1 mui-col-xs-1 form-operator">
					    <span>*</span>
				    </div>
					<div class="mui-col-sm-5 mui-col-xs-5">
						<div class="mui-input-row">
							<input type="decimal" maxlength="16" required="true" name="lldmcc_b2" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                			<label>C</label>
							<input type="decimal" maxlength="16" required="true" name="lldmcc_c1" value="" />
						</div>
					</div>
					<div class="mui-col-sm-1 mui-col-xs-1 form-operator">
					    <span>*</span>
				    </div>
					<div class="mui-col-sm-5 mui-col-xs-5">
						<div class="mui-input-row">
							<input type="decimal" maxlength="16" required="true" name="lldmcc_c2" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                			<label>D</label>
							<input type="decimal" maxlength="16" required="true" name="lldmcc_d1" value="" />
						</div>
					</div>
					<div class="mui-col-sm-1 mui-col-xs-1 form-operator">
					    <span>*</span>
				    </div>
					<div class="mui-col-sm-5 mui-col-xs-5">
						<div class="mui-input-row">
							<input type="decimal" maxlength="16" required="true" name="lldmcc_d2" value="" />
						</div>
					</div>
				</div>
            </div>
            <div class="mui-row form-grid top-line">
                    <div class="mui-row form-sub-title">
                        <div class="mui-col-sm-12 mui-col-xs-12">承台</div>
                    </div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                			<label>A</label>
							<input type="decimal" maxlength="16" required="true" name="ctdmcc_a1" value="" />
						</div>
					</div>
					<div class="mui-col-sm-1 mui-col-xs-1 form-operator">
					    <span>*</span>
				    </div>
					<div class="mui-col-sm-5 mui-col-xs-5">
						<div class="mui-input-row">
							<input type="decimal" maxlength="16" required="true" name="ctdmcc_a2" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                			<label>B</label>
							<input type="decimal" maxlength="16" required="true" name="ctdmcc_b1" value="" />
						</div>
					</div>
					<div class="mui-col-sm-1 mui-col-xs-1 form-operator">
					    <span>*</span>
				    </div>
					<div class="mui-col-sm-5 mui-col-xs-5">
						<div class="mui-input-row">
							<input type="decimal" maxlength="16" required="true" name="ctdmcc_b2" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                			<label>C</label>
							<input type="decimal" maxlength="16" required="true" name="ctdmcc_c1" value="" />
						</div>
					</div>
					<div class="mui-col-sm-1 mui-col-xs-1 form-operator">
					    <span>*</span>
				    </div>
					<div class="mui-col-sm-5 mui-col-xs-5">
						<div class="mui-input-row">
							<input type="decimal" maxlength="16" required="true" name="ctdmcc_c2" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-6 mui-col-xs-6">
						<div class="mui-input-row">
                			<label>D</label>
							<input type="decimal" maxlength="16" required="true" name="ctdmcc_d1" value="" />
						</div>
					</div>
					<div class="mui-col-sm-1 mui-col-xs-1 form-operator">
					    <span>*</span>
				    </div>
					<div class="mui-col-sm-5 mui-col-xs-5">
						<div class="mui-input-row">
							<input type="decimal" maxlength="16" required="true" name="ctdmcc_d2" value="" />
						</div>
					</div>
				</div>
            </div>
			<div class="mui-row form-title">地脚螺栓规格</div>
            <div class="mui-row form-grid">
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>A</label>
							<input type="text" maxlength="32" required="true" name="dlgg_a" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>B</label>
							<input type="text" maxlength="32" required="true" name="dlgg_b" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>C</label>
							<input type="text" maxlength="32" required="true" name="dlgg_c" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>D</label>
							<input type="text" maxlength="32" required="true" name="dlgg_d" value="" />
						</div>
					</div>
				</div>
            </div>
			<div class="mui-row form-title">立柱、承台、连梁的钢筋规格及数量</div>
            <div class="mui-row form-grid">
				<div class="mui-row form-sub-title">
					<div class="mui-col-sm-12 mui-col-xs-12">主筋承台</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>A</label>
							<input type="text" maxlength="32" required="true" name="zjctggsl_a" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>B</label>
							<input type="text" maxlength="32" required="true" name="zjctggsl_b" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>C</label>
							<input type="text" maxlength="32" required="true" name="zjctggsl_c" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>D</label>
							<input type="text" maxlength="32" required="true" name="zjctggsl_d" value="" />
						</div>
					</div>
				</div>
            </div>
            <div class="mui-row form-grid">
				<div class="mui-row form-sub-title">
					<div class="mui-col-sm-12 mui-col-xs-12">主筋立柱</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>A</label>
							<input type="text" maxlength="32" required="true" name="zjlzggsl_a" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>B</label>
							<input type="text" maxlength="32" required="true" name="zjlzggsl_b" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>C</label>
							<input type="text" maxlength="32" required="true" name="zjlzggsl_c" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>D</label>
							<input type="text" maxlength="32" required="true" name="zjlzggsl_d" value="" />
						</div>
					</div>
				</div>
            </div>
            <div class="mui-row form-grid">
				<div class="mui-row form-sub-title">
					<div class="mui-col-sm-12 mui-col-xs-12">主筋连梁</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>A</label>
							<input type="text" maxlength="32" required="true" name="zjllggsl_a" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>B</label>
							<input type="text" maxlength="32" required="true" name="zjllggsl_b" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>C</label>
							<input type="text" maxlength="32" required="true" name="zjllggsl_c" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>D</label>
							<input type="text" maxlength="32" required="true" name="zjllggsl_d" value="" />
						</div>
					</div>
				</div>
            </div>
            <div class="mui-row form-grid">
				<div class="mui-row form-sub-title">
					<div class="mui-col-sm-12 mui-col-xs-12">箍筋立柱</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>A</label>
							<input type="text" maxlength="32" required="true" name="gjlzggsl_a" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>B</label>
							<input type="text" maxlength="32" required="true" name="gjlzggsl_b" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>C</label>
							<input type="text" maxlength="32" required="true" name="gjlzggsl_c" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>D</label>
							<input type="text" maxlength="32" required="true" name="gjlzggsl_d" value="" />
						</div>
					</div>
				</div>
            </div>
            <div class="mui-row form-grid">
				<div class="mui-row form-sub-title">
					<div class="mui-col-sm-12 mui-col-xs-12">箍筋连梁</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>A</label>
							<input type="text" maxlength="32" required="true" name="gjllggsl_a" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>B</label>
							<input type="text" maxlength="32" required="true" name="gjllggsl_b" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>C</label>
							<input type="text" maxlength="32" required="true" name="gjllggsl_c" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row">
                			<label>D</label>
							<input type="text" maxlength="32" required="true" name="gjllggsl_d" value="" />
						</div>
					</div>
				</div>
            </div>
			<div class="mui-button-row">
				<button type="button" data-loading-text="下一步" class="mui-btn" id="btnStepNext">下一步</button>
			</div>
		</form>
	</div>
    <script type="text/javascript" src="../../plugins/zepto/zepto.min.js"></script>
    <script type="text/javascript" src="../../plugins/mui/js/mui.min.js"></script>
	<script type="text/javascript" src="../../plugins/mui/js/mui.picker.min.js"></script>
    <script type="text/javascript" src="../../common/js/common.js"></script>
    <script type="text/javascript" src="js/form.js"></script>
</body>
</html>