<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>三级检查</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.picker.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/sjjc.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-left-nav mui-pull-left" id="backBtn"></a>
		<h1 class="mui-title">自立塔组立、接地工程自检表</h1>
		<a class="mui-icon mui-pull-right" id="cacleBtn">取消</a>
	</header>
	<div id="main-body" class="mui-content">
		<form id="formTower" data-id="5" data-page="2" data-loop-id="-1" data-code="ZLJDZZJ_SJSC" class="mui-input-group" method="get" action="">    
			<div class="mui-row form-title">主材弯曲</div>
			<div class="mui-input-row form-input form-select">
				<input type="text" name="zcwq" required="true"  format="" value="" maxlength="32" data-options='[]' placeholder="" />
			</div>
			<div class="mui-row form-title">直线塔结构倾斜</div>
			<div class="mui-input-row form-input">
				<input type="text" name="zxtjgqx" required="true"  format="" value="" maxlength="32" data-options='[]' placeholder="" />
			</div>
			<div class="mui-row form-title">螺栓坚固</div>
			<div class="mui-input-row form-input">
				<input type="text" name="lsjg" required="true"  format="" value="" maxlength="32" data-options='[]' placeholder="" />
			</div>
			<div class="mui-button-row">
				<button type="button" data-loading-text="发布" class="mui-btn" id="btnStepPublish">发布</button>
			</div>
		</form>
	</div>
    <script type="text/javascript" src="../../plugins/zepto/zepto.min.js"></script>
    <script type="text/javascript" src="../../plugins/mui/js/mui.min.js"></script>
	<script type="text/javascript" src="../../plugins/mui/js/mui.picker.min.js"></script>
    <script type="text/javascript" src="../../common/js/common.js"></script>
    <script type="text/javascript" src="js/sjjc.js"></script>
</body>
</html>