<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>质量管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.min.css"/>
    	<link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
    	<link rel="stylesheet" type="text/css" href="css/form.css"/>
	</head> 

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">质量管理</h1>
		</header>
		<div class="mui-content qualityList">
		    <div class = "listTitle">质量管理</div>
		    <ul class="mui-table-view">
	            <li class="mui-table-view-cell">
	                <a class="mui-navigate-right">基础施工</a>
	            </li>
	            <li class="mui-table-view-cell">
	                <a class="mui-navigate-right ttzlsg" hrefData = "ggtpj-towerList.html">铁塔组立施工</a>
	            </li>
	            <li class="mui-table-view-cell">
	                <a class="mui-navigate-right"> 架线施工</a>
	            </li>
	            <li class="mui-table-view-cell">
	                <a class="mui-navigate-right"> 接地施工</a>
	            </li>
	            <li class="mui-table-view-cell">
	                <a class="mui-navigate-right"> 三级检查</a>
	            </li>
	        </ul>
		</div>
		<script type="text/javascript" src="../../plugins/zepto/zepto.min.js"></script>
	    <script type="text/javascript" src="../../plugins/mui/js/mui.min.js"></script>
	    <script type="text/javascript" src="../../common/js/common.js"></script>
	    <script type="text/javascript" src="js/form.js"></script>
	</body>

</html>