<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>风险详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/dropload/dropload.css"/>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/fxgl.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-left-nav mui-pull-left" id="backBtn"></a>
		<h1 class="mui-title">风险详情</h1>		
	</header>
	<div class="mui-content">
		<form method="get" action="" data-code="fxgl" id="fxgl" data-page = "1">
			<div class="mui-row form-grid fxxq-title">
                <div class="mui-col-sm-3 mui-col-xs-3 ">项目名称</div>
                <div class="mui-col-sm-9 mui-col-xs-9">
                	<div class="xmmc show" name = "proj_name"></div>
                </div>
           </div>
			<div class="mui-row form-grid fxxq-con top-line">
                <div class="mui-col-sm-5 mui-col-xs-5 sub-title">
                	<div>风险编码</div>
                </div>
                <div class="mui-col-sm-7 mui-col-xs-7">
                	<div class = "show" name = "risk_number"></div>
                </div>
                <div class="mui-col-sm-5 mui-col-xs-5 sub-title">
                	<div>工序名称</div>
                </div>
                <div class="mui-col-sm-7 mui-col-xs-7">
                	<div class = "show" name="procedure_name"></div>
                </div>
                <div class="mui-col-sm-5 mui-col-xs-5 sub-title">
                	<div>可能导致后果</div>
                </div>
                <div class="mui-col-sm-7 mui-col-xs-7">
                	<div class = "show" name="risk_effect"></div>
                </div>
                <div class="mui-col-sm-5 mui-col-xs-5 sub-title">
                	<div>风险等级</div>
                </div>
                <div class="mui-col-sm-7 mui-col-xs-7">
                    <div class = "show" name="risk_grade"></div>
                </div>
            </div>
            <div class="fxykcs">
            	<div class = "fxykcs-title">风险预控措施</div>
            	<div class="fxykcs-con show" name = "precontrol_measure">
            		<!--<div>导引绳展放：</div>
            		<p>人力展放导引绳;导引绳连接;动力伞、飞艇展放导引绳;无人直升机展放导引绳;人力布置;机械牵引。</p>
            		<div>张力放线：</div>
            		<p>张力场布置;地锚坑的埋设;牵引绳连接;牵引绳换盘;牵引绳与导线连接;落地锚固;地面压接。跨越公路、铁路、航道、电力线等;钻越高电压等级电力线。</p>-->
            	</div>
            	
            	
            </div>
		</form>
	</div>
    <script type="text/javascript" src="../../plugins/zepto/zepto.min.js"></script>
    <script type="text/javascript" src="../../plugins/mui/js/mui.min.js"></script>
    <script src="../../plugins/dropload/dropload.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="../../common/js/common.js"></script>
    <script type="text/javascript" src="js/fxgl.js"></script>
</body>
</html>