<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>进度管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../mui/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../common/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/progressManagement.css"/>
	</head> 

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">进度管理</h1>
		</header>
		<div class="mui-content progressList">
		    <div class = "listTitle">进度管理</div>
		    <ul class="mui-table-view">
	            <li class="mui-table-view-cell">
	                <a class="mui-navigate-right" hrefData= "progress_basicsList.html" >基础进度管理</a>
	            </li>
	            <li class="mui-table-view-cell">
	                <a class="mui-navigate-right" hrefData = "progress_assembly-towerList.html">组塔进度管理</a>
	            </li>
	            <li class="mui-table-view-cell">
	                <a class="mui-navigate-right" hrefData = "progress_stringingList.html"> 架线进度管理</a>
	            </li>
	        </ul>
		</div>
		<script src="../mui/js/mui.min.js"></script>
		<script src="js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../common/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/progressManagement.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
		</script>
	</body>

</html>