<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>三级检查</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.picker.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/sjjc.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-left-nav mui-pull-left" id="backBtn"></a>
		<h1 class="mui-title">架线自检记录</h1>
		<a class="mui-icon mui-pull-right" id="cacleBtn">取消</a>
	</header>
	<div id="main-body" class="mui-content">
		<form id="formTower" data-id="7" data-page="2" data-loop-id="-1" data-code="JXZJ_SJSC" class="mui-input-group" method="get" action="sjjc-7-3.html">	
            <div class="mui-row form-title">导地线损伤补修处理</div>
            <div class="mui-row form-input">
				<div class="mui-col-sm-3 mui-col-xs-3">
					<div class="mui-input-row mui-radio mui-left">
						<label>符合</label>
						<input type="radio" name="ddxssxbcl" value="1" />
					</div>
				</div>
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="mui-input-row mui-radio mui-left">
						<label>不符合</label>
						<input type="radio" name="ddxssxbcl" value="2" />
					</div>
				</div>
				<div class="mui-col-sm-5 mui-col-xs-5">
					<div class="mui-input-row mui-radio mui-left">
						<label>无此检查项</label>
						<input type="radio" name="ddxssxbcl" value="3" />
					</div>
				</div>
			</div>
			<div class="mui-row form-title">同一档内连接管及补修管数</div>
            <div class="mui-row form-input">
				<div class="mui-col-sm-3 mui-col-xs-3">
					<div class="mui-input-row mui-radio mui-left">
						<label>符合</label>
						<input type="radio" name="tydljg" value="1" />
					</div>
				</div>
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="mui-input-row mui-radio mui-left">
						<label>不符合</label>
						<input type="radio" name="tydljg" value="2" />
					</div>
				</div>
				<div class="mui-col-sm-5 mui-col-xs-5">
					<div class="mui-input-row mui-radio mui-left">
						<label>无此检查项</label>
						<input type="radio" name="tydljg" value="3" />
					</div>
				</div>
			</div>
			<div class="mui-row form-title">不允许接头档</div>
            <div class="mui-row form-input">
				<div class="mui-col-sm-3 mui-col-xs-3">
					<div class="mui-input-row mui-radio mui-left">
						<label>符合</label>
						<input type="radio" name="byxjtd" value="1" />
					</div>
				</div>
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="mui-input-row mui-radio mui-left">
						<label>不符合</label>
						<input type="radio" name="byxjtd" value="2" />
					</div>
				</div>
				<div class="mui-col-sm-5 mui-col-xs-5">
					<div class="mui-input-row mui-radio mui-left">
						<label>无此检查项</label>
						<input type="radio" name="byxjtd" value="3" />
					</div>
				</div>
			</div>
			<div class="mui-row form-title">连接管相对位置</div>
            <div class="mui-row form-input">
				<div class="mui-col-sm-3 mui-col-xs-3">
					<div class="mui-input-row mui-radio mui-left">
						<label>符合</label>
						<input type="radio" name="ljgxdwz" value="1" />
					</div>
				</div>
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="mui-input-row mui-radio mui-left">
						<label>不符合</label>
						<input type="radio" name="ljgxdwz" value="2" />
					</div>
				</div>
				<div class="mui-col-sm-5 mui-col-xs-5">
					<div class="mui-input-row mui-radio mui-left">
						<label>无此检查项</label>
						<input type="radio" name="ljgxdwz" value="3" />
					</div>
				</div>
			</div>           
  			<div class="mui-row form-title">连接管压后弯曲</div>
			<div class="mui-input-row form-input">
				<input type="text" name="ljgyhwq" required="true" value="" maxlength="32" placeholder="" />
			</div>
			<div class="mui-row form-title">连接管钢印代号</div>
            <div class="mui-row form-input">
				<div class="mui-col-sm-3 mui-col-xs-3">
					<div class="mui-input-row mui-radio mui-left">
						<label>符合</label>
						<input type="radio" name="ljggxdh" value="1" />
					</div>
				</div>
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="mui-input-row mui-radio mui-left">
						<label>不符合</label>
						<input type="radio" name="ljggxdh" value="2" />
					</div>
				</div>
				<div class="mui-col-sm-5 mui-col-xs-5">
					<div class="mui-input-row mui-radio mui-left">
						<label>无此检查项</label>
						<input type="radio" name="ljggxdh" value="3" />
					</div>
				</div>
			</div>
			<div class="mui-row form-title">连接管压后尺寸及外观质量</div>
            <div class="mui-row form-input">
				<div class="mui-col-sm-3 mui-col-xs-3">
					<div class="mui-input-row mui-radio mui-left">
						<label>符合</label>
						<input type="radio" name="ljgyhczjzl" value="1" />
					</div>
				</div>
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="mui-input-row mui-radio mui-left">
						<label>不符合</label>
						<input type="radio" name="ljgyhczjzl" value="2" />
					</div>
				</div>
				<div class="mui-col-sm-5 mui-col-xs-5">
					<div class="mui-input-row mui-radio mui-left">
						<label>无此检查项</label>
						<input type="radio" name="ljgyhczjzl" value="3" />
					</div>
				</div>
			</div>
			<div class="mui-row form-title">导、地线（光缆）弧垂</div>
            <div class="mui-row form-input">
				<div class="mui-col-sm-3 mui-col-xs-3">
					<div class="mui-input-row mui-radio mui-left">
						<label>符合</label>
						<input type="radio" name="ddxhc" value="1" />
					</div>
				</div>
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="mui-input-row mui-radio mui-left">
						<label>不符合</label>
						<input type="radio" name="ddxhc" value="2" />
					</div>
				</div>
				<div class="mui-col-sm-5 mui-col-xs-5">
					<div class="mui-input-row mui-radio mui-left">
						<label>无此检查项</label>
						<input type="radio" name="ddxhc" value="3" />
					</div>
				</div>
			</div>
			<div class="mui-row form-title">相间误差</div>
			<div class="mui-input-row form-input">
				<input type="text" name="xjwc" required="true" value="" maxlength="32" placeholder="" />
			</div>
			<div class="mui-row form-title">子导线误差</div>
			<div class="mui-input-row form-input">
				<input type="text" name="zdxwc" required="true" value="" maxlength="32" placeholder="" />
			</div>
			<div class="mui-row form-title">对跨越物净距</div>
            <div class="mui-row form-input">
				<div class="mui-col-sm-3 mui-col-xs-3">
					<div class="mui-input-row mui-radio mui-left">
						<label>符合</label>
						<input type="radio" name="dkywjj" value="1" />
					</div>
				</div>
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="mui-input-row mui-radio mui-left">
						<label>不符合</label>
						<input type="radio" name="dkywjj" value="2" />
					</div>
				</div>
				<div class="mui-col-sm-5 mui-col-xs-5">
					<div class="mui-input-row mui-radio mui-left">
						<label>无此检查项</label>
						<input type="radio" name="dkywjj" value="3" />
					</div>
				</div>
			</div>
			<div class="mui-row form-title">金具、瓷瓶规格及数量</div>
            <div class="mui-row form-input">
				<div class="mui-col-sm-3 mui-col-xs-3">
					<div class="mui-input-row mui-radio mui-left">
						<label>符合</label>
						<input type="radio" name="jjcpggjsl" value="1" />
					</div>
				</div>
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="mui-input-row mui-radio mui-left">
						<label>不符合</label>
						<input type="radio" name="jjcpggjsl" value="2" />
					</div>
				</div>
				<div class="mui-col-sm-5 mui-col-xs-5">
					<div class="mui-input-row mui-radio mui-left">
						<label>无此检查项</label>
						<input type="radio" name="jjcpggjsl" value="3" />
					</div>
				</div>
			</div>
			<div class="mui-row form-title">金具碰损缺锌</div>
            <div class="mui-row form-input">
				<div class="mui-col-sm-3 mui-col-xs-3">
					<div class="mui-input-row mui-radio mui-left">
						<label>符合</label>
						<input type="radio" name="jjpsqx" value="1" />
					</div>
				</div>
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="mui-input-row mui-radio mui-left">
						<label>不符合</label>
						<input type="radio" name="jjpsqx" value="2" />
					</div>
				</div>
				<div class="mui-col-sm-5 mui-col-xs-5">
					<div class="mui-input-row mui-radio mui-left">
						<label>无此检查项</label>
						<input type="radio" name="jjpsqx" value="3" />
					</div>
				</div>
			</div>
			<div class="mui-row form-title">绝缘子质量</div>
            <div class="mui-row form-input">
				<div class="mui-col-sm-3 mui-col-xs-3">
					<div class="mui-input-row mui-radio mui-left">
						<label>符合</label>
						<input type="radio" name="jyzzl" value="1" />
					</div>
				</div>
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="mui-input-row mui-radio mui-left">
						<label>不符合</label>
						<input type="radio" name="jyzzl" value="2" />
					</div>
				</div>
				<div class="mui-col-sm-5 mui-col-xs-5">
					<div class="mui-input-row mui-radio mui-left">
						<label>无此检查项</label>
						<input type="radio" name="jyzzl" value="3" />
					</div>
				</div>
			</div>
			<div class="mui-row form-title">瓷瓶大口</div>
            <div class="mui-row form-input">
				<div class="mui-col-sm-3 mui-col-xs-3">
					<div class="mui-input-row mui-radio mui-left">
						<label>符合</label>
						<input type="radio" name="cpdk" value="1" />
					</div>
				</div>
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="mui-input-row mui-radio mui-left">
						<label>不符合</label>
						<input type="radio" name="cpdk" value="2" />
					</div>
				</div>
				<div class="mui-col-sm-5 mui-col-xs-5">
					<div class="mui-input-row mui-radio mui-left">
						<label>无此检查项</label>
						<input type="radio" name="cpdk" value="3" />
					</div>
				</div>
			</div>
			<div class="mui-row form-line-white"></div>
			<div class="mui-button-row">
				<button type="button" data-loading-text="下一步" class="mui-btn" id="btnStepNext">下一步</button>
			</div>
		</form>
	</div>
    <script type="text/javascript" src="../../plugins/zepto/zepto.min.js"></script>
    <script type="text/javascript" src="../../plugins/mui/js/mui.min.js"></script>
	<script type="text/javascript" src="../../plugins/mui/js/mui.picker.min.js"></script>
    <script type="text/javascript" src="../../common/js/common.js"></script>
    <script type="text/javascript" src="js/sjjc.js"></script>
</body>
</html>