<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>基础进度</title>
		<link rel="stylesheet" type="text/css" href="../mui/css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/progressManagement.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <a class="mui-icon mui-icon-plusempty mui-pull-right createNew_Tower"></a>
		    <h1 class="mui-title">基础进度</h1>
		</header>
		<div class="mui-content">
			<div class="mui-input-row mui-search title-search">
				<input id="search" type="search" class="mui-input-speech mui-input-clear" placeholder="请输入塔杆编码">
			</div>
			<ul class="mui-table-view zutaList">
			        <li class="mui-table-view-cell">
			            <a class="mui-navigate-right">杆塔编码  <span>8S036</span></a>
			        </li>
			        <li class="mui-table-view-cell">
			            <a class="mui-navigate-right">杆塔编码  <span>8S037</span></a>
			        </li>
			        <li class="mui-table-view-cell">
			            <a class="mui-navigate-right">杆塔编码  <span>8S038</span></a>
			        </li>
			        <li class="mui-table-view-cell">
			            <a class="mui-navigate-right">杆塔编码  <span>8S039</span></a>
			        </li>
			        <li class="mui-table-view-cell">
			            <a class="mui-navigate-right">杆塔编码  <span>8S040</span></a>
			        </li>
			        <li class="mui-table-view-cell">
			            <a class="mui-navigate-right">杆塔编码  <span>8S041</span></a>
			        </li>
			        <li class="mui-table-view-cell">
			            <a class="mui-navigate-right">杆塔编码  <span>8S042</span></a>
			        </li>
			        <li class="mui-table-view-cell">
			            <a class="mui-navigate-right">杆塔编码  <span>8S043</span></a>
			        </li>
			        <li class="mui-table-view-cell">
			            <a class="mui-navigate-right">杆塔编码  <span>8S044</span></a>
			        </li>
			        <li class="mui-table-view-cell">
			            <a class="mui-navigate-right">杆塔编码  <span>8S045</span></a>
			        </li>
			        <li class="mui-table-view-cell">
			            <a class="mui-navigate-right">杆塔编码  <span>8S046</span></a>
			        </li>			        			
			    </ul>
			
		</div>
		<script src="../mui/js/mui.min.js"></script>
	</body>
</html>
