<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>缺货清单</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.picker.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/qhsb.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-left-nav mui-pull-left" id="backBtn"></a>
		<h1 class="mui-title">缺货清单</h1>
		<a class="mui-icon mui-pull-right" id="cacleBtn">取消</a>
	</header>
	<div id="main-body" class="mui-content">
		<form id="qhsb" data-id="1" data-page="2" data-loop-id="-1" data-code="" class="mui-input-group" method="get" action="">	
  			<div class="listTitle">
  				<div class = "listTitleFirst">
  					<span name = "towerNo">8S025</span>
  					<span>/</span>
  					<span name = "towerType">ZJT31748</span>
  				</div>
  				<div class = "listTitleSecond">
  					<span name = "tcbz">洪顺第一班组</span>
  					<span name = "tcsj">2018-08-28</span>
  				</div>
  			</div>
  			<div class="mui-row form-title">物资类型</div>
			<div class="mui-input-row form-select">
				<input type="text" format="options" readonly="readonly" required="true" data-options='[]' name="text_wzlx" value="" placeholder="请选择" />
                <input type="text" class="hide" name="wzlx" value="" />
				<span class="mui-icon mui-icon-forward"></span>
			</div>
  			<div class="mui-row form-title">规格型号</div>
			<div class="mui-input-row form-input">
				<input type="text" name="ggxh" required="true" value="" maxlength="32" placeholder="" />
			</div>
			<div class="mui-row form-title">数量</div>
			<div class="mui-input-row form-input">
				<input type="text" name="sh" required="true" value="" maxlength="32" placeholder="" />
			</div>
			<div class="mui-row form-title">单位</div>
			<div class="mui-input-row form-input">
				<input type="text" name="dw" required="true" value="" maxlength="32" placeholder="" />
			</div>
			<div class="mui-row form-title">需求时间</div>
			<div class="mui-input-row form-input">
				<input type="text" format="date" readonly="readonly" required="true" name="sqsj" value="" />
			</div>
			<div class="mui-button-row notfull">
				<button type="button" data-loading-text="发布" class="mui-btn" id="btnStepPublish">发布</button>
			</div>
		</form>
	</div>
    <script type="text/javascript" src="../../plugins/zepto/zepto.min.js"></script>
    <script type="text/javascript" src="../../plugins/mui/js/mui.min.js"></script>
	<script type="text/javascript" src="../../plugins/mui/js/mui.picker.min.js"></script>
    <script type="text/javascript" src="../../common/js/common.js"></script>
    <script type="text/javascript" src="js/qhsb.js"></script>
</body>
</html>