<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>风险管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/dropload/dropload.css"/>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/fxgl.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-left-nav mui-pull-left" id="backBtn"></a>
		<h1 class="mui-title">风险管理</h1>
		
	</header>
	<div class="mui-content" id = "downrefresh">
		<form method="get" action="fxgl-detail.html" data-code="fxgl" id="fxgl" data-page = "0">
			<div class="mui-input-row mui-search title-search" >
				<input id="search" type="search" name = "search" class="mui-input-clear" placeholder="风险编号/工序名称">
				<!--<span class="mui-icon mui-icon-speech"></span>-->
			</div>
			<ul class="mui-table-view towerList" id = "towerComplete">		       
		        <!--<li class="mui-table-view-cell towerli">		        
	            	<div class = "fxbh">
	            		<span>SG-B3-SG36-0057</span>
	            		<div>等级： <span>2</span></div>
	            	</div>
	            	<div class = "gxmc">工序名称</div>	            	
		        </li>-->
		      
		        
		    </ul>
		</form>
	</div>
    <script type="text/javascript" src="../../plugins/zepto/zepto.min.js"></script>
    <script type="text/javascript" src="../../plugins/mui/js/mui.min.js"></script>
    <script src="../../plugins/dropload/dropload.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="../../common/js/common.js"></script>
    <script type="text/javascript" src="js/fxgl.js"></script>
</body>
</html>