<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>钢管塔评级</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.picker.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/ggtpj.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-left-nav mui-pull-left" id="backBtn">
		</a>
		<h1 class="mui-title">铁塔组立施工</h1>
	</header>
	<div id="main-body" class="mui-content">
		<form id="formTower" data-page = "p3" type= "detail" data-id="1"  data-loop-id="-1" data-code="GGTPJ_XJ" class="mui-input-group" method="get" action="form-1-2.html">
			<div class="mui-row form-title">塔杆编码</div>
			<div class="mui-input-row form-select">
				<input type="text" format="options" readonly="readonly" required="true" data-options='[]' name="tower_number" value="" placeholder="请选择" />
               <!-- <input type="text" class="hide" name="tower_number" value="" />-->
			</div>
			<div class="mui-row form-title">施工记录</div>
			<div class="mui-input-row form-select">
				<input type="text" readonly="readonly" required="true" name="text_sgjl" value="钢管塔评级"/>
                <input type="text" class="hide" name="sgjl" value="钢管塔评级" />
			</div>
			<div class="mui-row form-title">施工班组</div>
			<div class="mui-input-row form-input bottom-line form-select">
				<input type="text" readonly="readonly" name="banzu" required="true" value="" format="options" maxlength="32" placeholder="" />
				<!--<input type = "text" class = "hide" name = "banzu" value = "" /> -->
			</div>
			<div class="mui-row form-title">塔型</div>
			<div class="mui-input-row form-input bottom-line form-select">
				<input type="text" readonly="readonly" name="tower_type" required="true" value="" format="options" maxlength="32" placeholder="" />
				<!--<input type = "text" class = "hide" name = "tower_type" value = "" /> -->
			</div>
			<div class="mui-row form-title">呼称高m</div>
			<div class="mui-input-row form-input bottom-line">
				<input type="text" readonly="readonly" name="hcg" required="true" value="" maxlength="32" placeholder="" />
			</div>
			<div class="mui-row form-title">塔全高m</div>
			<div class="mui-input-row form-input bottom-line">
				<input type="text" readonly="readonly" name="tqg" required="true" value="" maxlength="32" placeholder="" />
			</div>
			<div class="mui-row form-line"></div>
			<div class="mui-row form-date bottom-line">
				<div class="mui-col-sm-5 mui-col-xs-5 form-sub-title">施工日期</div>
				<div class="mui-col-sm-7 mui-col-xs-7">
					<input type="text" format="date" readonly="readonly" required="true" name="startDate" value="" />
					<span class="mui-icon mui-icon-forward"></span>
				</div>
			</div>
			<div class="mui-row form-date bottom-line">
				<div class="mui-col-sm-5 mui-col-xs-5 form-sub-title">检查日期</div>
				<div class="mui-col-sm-7 mui-col-xs-7">
					<input type="text" format="date" readonly="readonly" required="true" name="checkDate" value="" />
					<span class="mui-icon mui-icon-forward"></span>
				</div>
			</div>	
			<div class="mui-row form-line"></div>
			<div class="mui-row form-title">节点间主材弯曲</div>
			<div class="mui-input-row form-select">
				<input type="text" format="options" readonly="readonly" required="true" data-options='[]' name="wanqu" value="" placeholder="请选择" />
                <!--<input type="text" class="hide" name="wanqu" value="" />-->
			</div>
			<div class="mui-row form-title">直线塔结构倾斜%</div>
			<div class="mui-row form-input">
				<div class="mui-col-sm-6 mui-col-xs-6">
					<div class="mui-input-row mui-radio mui-left">
						<label>一般塔</label>
						<input type="radio" readonly="readonly" typeName= "qingxie1" name="qingxie" value="" />
					</div>
				</div>
				<div class="mui-col-sm-6 mui-col-xs-6">
					<div class="mui-input-row mui-radio mui-left">
						<label>高塔</label>
						<input type="radio" readonly="readonly" name="qingxie" typeName= "qingxie2" value="" />
					</div>
				</div>
			</div>
			<!--<div class="mui-input-row form-input top-line bottom-line">
				<input type="text" readonly="readonly" name="qingxie" required="true" value="" maxlength="32" placeholder="" />
			</div>-->
			<div class="mui-row form-title">螺栓坚固</div>
            <div class="mui-row form-grid">
				<div class="mui-row form-item-padding">
                <div class="mui-col-sm-3 mui-col-xs-3 form-left-label">架线前</div>
					<div class="mui-col-sm-9 mui-col-xs-9">
						<div class="mui-input-row">
							<input type="uint" readonly="readonly" maxlength="10" required="true" name="lsjg1" value="" />
						</div>
					</div>
				</div>
				<div class="mui-row form-item-padding">
                <div class="mui-col-sm-3 mui-col-xs-3 form-left-label">架线后</div>
					<div class="mui-col-sm-9 mui-col-xs-9">
						<div class="mui-input-row">
							<input type="uint" readonly="readonly" maxlength="10" required="true" name="lsjg2" value="" />
						</div>
					</div>
				</div>
            </div>	
		</form>
	</div>
    <script type="text/javascript" src="../../plugins/zepto/zepto.min.js"></script>
    <script type="text/javascript" src="../../plugins/mui/js/mui.min.js"></script>
	<script type="text/javascript" src="../../plugins/mui/js/mui.picker.min.js"></script>
    <script type="text/javascript" src="../../common/js/common.js"></script>
    <script type="text/javascript" src="js/ggtpj.js"></script>
</body>
</html>