<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>钢管塔评级</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/mui/css/mui.picker.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugins/dropload/dropload.css"/>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/ggtpj.css"/>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-left-nav mui-pull-left" id="backBtn"></a>
		<a class="mui-icon mui-icon-plusempty mui-pull-right createNew" hrefData="ggtpj-createNew-1.html"></a>
		<h1 class="mui-title">铁塔组立施工</h1>
		
	</header>
	<div class="mui-content" id = "downrefresh">
		<form method="get" action="ggtpj-createNew-1.html" data-loop-id="-1" data-code="GGTPJ_XJ" id="formTower" data-page = "p0">
			<div class="mui-input-row mui-search title-search" >
				<input id="search" type="search" name = "search" class="mui-input-speech mui-input-clear" placeholder="请输入关键字">
			</div>
			<ul class = "new towerList">
				<!--<li class="mui-table-view-cell towerli">		        	
		            <a class="mui-navigate-right">
		            	<div class = "tower_number">杆塔编码　<span>8S036</span><span>新建</span></div>
		            	<div class = "tower_pj">钢管塔评级</div>
		            	<div class = "sgbz">施工班组　<span>山东鸿顺第一班组</span></div>
		            	<div class = "sgrq">施工日期　<span>2018-06-01</span></div>
		            </a>
		        </li>-->
			</ul>
			<ul class="mui-table-view towerList" id = "towerComplete">
		        <!--<li class="mui-table-view-cell towerli">		        	
		            <a class="mui-navigate-right">
		            	<div class = "tower_number">杆塔编码　<span>8S036</span></div>
		            	<div class = "tower_pj">钢管塔评级</div>
		            	<div class = "sgbz">施工班组　<span>山东鸿顺第一班组</span></div>
		            	<div class = "sgrq">施工日期　<span>2018-06-01</span></div>
		            </a>
		        </li>-->
		    </ul>
		</form>
	</div>
    <script type="text/javascript" src="../../plugins/zepto/zepto.min.js"></script>
    <script type="text/javascript" src="../../plugins/mui/js/mui.min.js"></script>
    <script src="../../plugins/dropload/dropload.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../plugins/mui/js/mui.picker.min.js"></script>
    <script type="text/javascript" src="../../common/js/common.js"></script>
    <script type="text/javascript" src="js/ggtpj.js"></script>
</body>
</html>